{% capture category %}{{ post.categories | size }}{% endcapture %}
<div class="row-fluid">
	<div class="span1">
		<strong class="date-time"><time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span><span class='year'><!--%Y--></span>"}}</time></strong>
		<strong><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></strong>
	</div>
</div>
{% if category != '0' %}
<div class="row-fluid">
	<div class="span1">
	</div>
	<div class="span10">
		<footer class="archive">
		  
		</footer>
		
	</div>
</div>
{% endif %}
